<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Lab Conditions by RPi</title>
    <meta name="description" content="Lab conditions - RPi">
    <meta name="author" content="Peter Dalmaris">
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="/static/images/favicon.png">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="one-third column" style="margin-top: 5%">
          <strong>Showing all records</strong>                
          <h2>Temperatures</h2>                    
            <table class="u-full-width">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>&deg;C</th>                        
                </tr>
              </thead>
              <tbody>
                {% for row in temp %}
                <tr>
                  <td>{{row[0]}}</td>
                  <td>{{'%0.2f'|format(row[2])}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>  
            <h2>Humidities</h2>
            <table class="u-full-width">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>%</th>                        
                </tr>
              </thead>
              <tbody>
                {% for row in hum %}
                <tr>
                  <td>{{row[0]}}</td>
                  <td>{{'%0.2f'|format(row[2])}}</td>
                </tr>          
                {% endfor %}
              </tbody>
            </table>                                              
        </div>
    </div>           
  </body>
</html>